* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  display: flex;
  flex-direction: column;
  /* align-content: flex-end; */
  align-items: center;
}


.header-img {
  width: 70px;
  border-radius:50%;
  margin: 7px 0px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.header-container {
  display: flex;
  width: 100%;
  background-color:rgb(34, 33, 33);
  color: white;
  justify-content: space-around;
  align-items: center
}

.p-container {
  display: flex;
  padding: 10px 0px;
  justify-content: center;
}

#id {
  margin: 10px 0px;
}

.img-container {
  width: 50%;
  /* margin: auto; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 590px;  */
}

div {
  text-align: center;
  background-color: rgb(241, 238, 238);
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 3px rgb(168, 162, 162);
}

div img {
  height: 150px;
}

h4 {
  padding: 5px;
}

#line {
  margin: auto;
  width: 150px;
  height: 4px;
  background-color: rgb(224, 221, 221);
  margin-bottom: 20px
}

footer {
  display: flex;
  margin: auto;
  justify-content: center;
}