header {
    background-color: green;
    height: 180px;
    text-align: center;
    padding-top: 100px;
    color: white;
    font-weight: 700;
    font-size: 50px;
}

header:hover {
    background-color: ;
}