/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
  box-sizing: border-box;
  margin: 1em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: 1.2em/1.2 Helvetica, aria, sans-serif;
}

article {
}

h1 {
  font-size: 1.8em;
}

h2 {
}

img {
  max-width: 100%;
}

main {
}

section {
}

figure {
  margin: 1em 0;
}

figcaption {
  font-size: 0.8em;
}

@media (min-width: 900px) {
    body {
        background-color: rgb(252, 246, 246);
        font-size: 24px;
        margin: 1.4em;
    }

    h1 {
        text-align: center;
    }

    .figures {
        display: flex;
        flex-wrap: wrap;
    }

    .figures figure {
        margin: 10px;
        width: 40%;
    }

    .figures img {
        border-radius: 5px;
    }
}